<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create user</title>
</head>
<body>

<form action="#" th:action="@{/employee-create}" th:object="${employee}" method="post">

  <label for="firstName">First name</label>
  <input type="text" th:field="${employee.name}" id="firstName" placeholder="First Name">
  <br>
  <br>
  <label for="surName">Last name</label>
  <input type="text" th:field="${employee.surName}" id="surName" placeholder="Last name">
  <br>
  <br>
  <label for="department">Department</label>
  <input type="text" th:field="${employee.department}" id="department" placeholder="Write a department">
  <br>
  <br>
  <label for="salary">Salary</label>
  <input type="text" th:field="${employee.salary}" id="salary" placeholder="Write a salary">
  <br>
  <br>
  <input type="submit" value="Create User">

</form>

</body>
</html>